$grid-breakpoints: (
    'small': 420px,
    'medium': 768px,
    'large': 1024px,
    'huge': 1600px,
) !default;

$grid-gutter: 32px !default;
$grid-columns: 12 !default;


$font-sizes: (
    'small': 16px,
    'medium': 20px,
    'large': 24px,
    'huge': 32px,
) !default;

$spacers: (
    0: 0,
    1: 0.25rem,
    2: 0.5rem,
    3: 1rem,
    4: 1.5rem,
    5: 3rem,
) !default;

